.toolbar {
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0px;
    left: 0px;
    background-color: blueviolet;
    z-index: 97;
}
.toolbar__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolBar__logo{
color: white;
text-decoration: none;
margin-left: 0.5rem;
}
.toolBar__ItemsWrapper{
}
.spacer{
    flex: 1;
}
.toolBar__ItemsWrapper ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    
}
.toolBar__ItemsWrapper ul a{
    color: white;
    text-decoration: none;
    margin: 0% 1rem;
}
.toolBar__ItemsWrapper ul a:hover,
.toolBar__ItemsWrapper ul a:active {
    color: orange;
}